version: 2.1

orbs:
  browser-tools: circleci/browser-tools@1.4.1

jobs:
  build_and_run_regression:
    docker:
      - image: cimg/openjdk:11.0.16
    steps:
      - checkout
      - browser-tools/install-chrome
      - browser-tools/install-chromedriver
      - run:
          name: Build
          command: mvn -B -DskipTests clean package
      - run:
          name: Test
          command: mvn test -P chrome -P close -P headless -D"group=regression"
      - store_test_results:
          path: ./target
      - store_artifacts:
          path: ./target/screenshots

workflows:
  build_and_run_regression:
    jobs:
      - build_and_run_regression
